@media (max-width:575px){
    .navbar-toggler:focus {
        box-shadow: none ;
    }
    [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
        position: absolute;
        right: 8px;
        top: 2px;
        border-radius: 8px;
        color: #000;   
    }
    .navbar-brand h4 {
        font-size: 18px;    
    }
    #banner{
        padding-top: 100px;
    }
    .banner-content h1 {
       display: none;
    }
    .banner-content p {
      display: none;
    }
    .banner-content a {
        padding: 2px 16px;   
    }
    .right-moment h3 {
        font-size: 22px;  
        margin-top: 15px;  
    }
    .package-title h3 {
        margin-bottom: 40px;
    }
    .package-title h3 {
        margin-bottom: 120px;
        line-height: 40px;
        font-size: 20px;
    }
}