* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
    margin-bottom: 0;
}

/* common css End Here */
/* navbar part start here */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-item {
    padding-right: 26px;
}

.nav-item:last-child {
    padding-right: 0px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-brand h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #3E3E3E;
}

.nav-item .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3E3E3E;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* banner part start Here */
#banner {
    position: relative;
}

.ban-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 21.92%, rgba(0, 0, 0, 0.418) 160.04%, rgba(0, 0, 0, 0.121) 160.06%), url(.jpg)
}

.banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #fff;
    line-height: 57px;
    padding: 0 25px;
}

.banner-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 0 158px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.banner-content a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 43px;
    background-color: #fff;
    border-radius: 5px;
    color: #3F87F5;
}

/* banner part End Here */
/* moment part start Here */
#moment {
    margin-top: 100px;
}

.right-moment h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 6px;
}

.right-moment p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 30px;
    margin-top: 8px;
}

.right-moment a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 10px 24px;
    background-color: #3F87F5;
    border-radius: 8px;
}

/* package part start Here */
#package {
    margin: 100px 0;
}

.package-item h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #231D4F;
}

.package-item h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #231D4F;
    margin-top: 20px;
    margin-bottom: 10px;
}

.package-item p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #848199;
    line-height: 22px;
}

.package-item p i {
    width: 20px;
    height: 20px;
    background-color: rgba(82, 67, 194, 0.103693);
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #5243C2;
    margin-right: 8px;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 10px;
}

.inner-p {
    margin-bottom: 10px;
}

.third-package {
    padding: 50px 30px 43px 30px;
    background-color: #3F87F5;
    border-radius: 25px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    margin-top: -100px;
}

.third-package h3 {
    color: #fff;
}

.third-package h4 {
    color: #fff;
}

.third-package p {
    color: #fff;
}

.third-package p i {
    color: #fff;
}

.third-package a {
    background-color: #fff !important;
}

.package-item a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #3F87F5;
    padding: 13px 55px;
    background-color: rgba(244, 150, 210, 0.1);
    border-radius: 24px;
    display: inline-block;
    margin-top: 10px;
}

.package-title h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 205px;
    position: relative;
    display: inline-block;
}

.package-title h3:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3F87F5;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}

.package-title:hover ::after {
    opacity: 1;
    visibility: visible;
}

.package-item span {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 46px;
    height: 27px;
    border-radius: 18px;
}

.package-item span h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    position: relative;
}

.package-item span h5::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #3F87F5;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all linear .3s;
}

.package-item span:hover ::after {
    opacity: 1;
}

/* package  part End here */
/* clients part End Here */
.clients-item .card-body {
    position: relative;
    text-align: center;
}

.clients-item {
    border-radius: 5px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
}

.clients-item .card-body p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-bottom: 15px;
    padding: 0 43px;
}

.clients-item .card-body h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #0C1920;
    margin-bottom: 8px;
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.card-title {
    padding-top: 150px;
    text-align: center;
}

.clients-gap {
    margin-top: -100px;
    margin-bottom: 100px;
}

.q-gap {
    margin-top: -100px;
}

/* clients part start Here */
/* footer part start Here */
#footer {
    background-color: #000;
    padding: 55px 165px 80px 0;
    margin-top: 150px;
}

.right-footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D9DBE1;
}

.left {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}

.footer-wrapper {
    align-items: center;
}

/* footer-part End Here */